---
import { getPostUrlBySlug } from '@utils/url-utils'

import PaginationCard from './PaginationCard.astro'

interface Props {
	prevSlug: string;
	prevTitle: string;
	nextSlug: string;
	nextTitle: string;
	class?: string;
}

const {
	prevSlug,
	prevTitle,
	nextSlug,
	nextTitle,
	class: className,
} = Astro.props

const onlyOneButton = (prevSlug && !nextSlug) || (!prevSlug && nextSlug);
---

<div
	class:list={[
		'flex flex-col mb-4 gap-4 w-full font-normal',
		className,
		!onlyOneButton && 'md:flex-row md:justify-between',
	]}
>
	{
		prevSlug && (
			<PaginationCard
				href={getPostUrlBySlug(prevSlug)}
				title={prevTitle}
				label='previous'
			/>
		)
	}

	{
		nextSlug && (
			<PaginationCard
				href={getPostUrlBySlug(nextSlug)}
				title={nextTitle}
				label='up next'
				isNext={true}
			/>
		)
	}
</div>
